body {


.card {
background: #ffffff;
padding: 30px;
border-radius: 20px;
width: 320px;
text-align: center;
box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}


h1, h2, h3 {
color: #1e3a8a;
}


input, select {
width: 100%;
padding: 10px;
margin: 10px 0;
border-radius: 10px;
border: 1px solid #93c5fd;
}


button {
background: #60a5fa;
color: white;
border: none;
padding: 10px 15px;
border-radius: 12px;
cursor: pointer;
transition: 0.3s;
}


button:hover {
background: #3b82f6;
}


.hidden {
display: none;
}


#mainPage {
background: #f0f9ff;
width: 90%;
max-width: 700px;
padding: 25px;
border-radius: 20px;
}


header {
display: flex;
justify-content: space-between;
align-items: center;
}


.logout {
background: #f87171;
}


.logout:hover {
background: #ef4444;
}


.content img {
width: 100%;
border-radius: 15px;
margin: 15px 0;
}


#result {
margin-top: 15px;
font-weight: bold;
color: #1d4ed8;
}
